.row
  .twelve.columns
    :markdown
      # Gather With Us

      Unitarian Universalist congregations are places where we gather to
      nurture our spirits, celebrate the passage of major life events, and
      build spiritual communities of support and friendship.
.row
  .three.columns
    %dl.tabs.nice.contained.mobile.vertical
      %dd= link_to "The Sunday Worship Experience", "#the-sunday-worship-experience", class: "active"
      %dd= link_to "Small Group Ministry", "#small-group-ministry"
      %dd= link_to "Rites of Passage", "#rites-of-passage"
      %dd= link_to "Social Activities", "#social-activities"
  .nine.columns
    %ul.tabs-content.nice.contained.mobile
      %li#the-sunday-worship-experienceTab.active
        .container
          .row
            .eight.columns
              :markdown
                We offer worship services every Sunday morning that are diverse in
                focus and often form. Our minister speaks three Sundays each month.
                Other Sundays may feature inspirational and spiritual services by
                visiting ministers, guest speakers, members, and friends. Sermons
                are a central element in Unitarian Universalist worship and may
                address mystical, political, ethical, or historical topics. Often a
                minister’s personal testimony will help members of the congregation
                reflect honestly on their own lives.

                Occasionally a sacramental expression - the Flower Communion in
                June, a child’s dedication, or the invitation to share personal
                statements - enhance our services. These special ceremonies serve
                to bind us to traditions, to the generations, and to holy ideals.

                We believe in the value of an intergenerational society and invite
                our young people of all ages to participate in at least a portion
                of every Sunday morning service. Child care is provided for
                infants. Members and guests gather together for coffee, continued
                discussion, and fellowship following the program. Our choir, sings
                for at least two Sundays each month.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/chalice.jpg" alt="")
      %li#small-group-ministryTab
        .container
          .row
            .eight.columns
              :markdown
                __Covenant Groups__ nurture individuals and strengthen connections of
                our members. When someone comes to a new place, it can be hard to
                find friends and establish connections in the larger congregation.
                Covenant Groups are smaller, more personal gatherings of members
                and friends of our Fellowship. This supportive atmosphere of helps
                us provide the warmth of friendship in a diverse community
                committed to our Unitarian Universalist principles and encouraged
                by our religious heritage. We engage actively in each other’s lives
                by celebrating life’s triumphs and supporting each other in times
                of challenge or need.

                The questions and topics discussed at each Covenant Group meeting
                also provide inclusive social, spiritual, and intellectual
                activities for all ages, stimulating the heart and mind with
                uplifting experiences, challenging issues, and exciting ideas. We
                explore many diverse topics at our meetings such as friendship,
                success, forgiveness, failure, what we believe and where we are
                headed. Group members often choose the topics themselves. Also,
                each Covenant Group completes an annual service project. This
                demonstrates our Unitarian Universalist principles and provides a
                voice allowing others to learn about them, while serving the needs
                of the larger community.

                The __Ancient Shores Covenant of Unitarian Universalist Pagans__ meets
                the third Sunday of each month at 12:15 p.m. at the Fellowship for
                discussion of various topics related to Earth-Centered
                Spirituality. Our mission is to provide opportunities for the
                exploration and development of Earth-Based and Pagan spirituality.
                We honor the gifts brought by all who participate of every age and
                background, placing no one path before any other.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/shells.jpg" alt="")
      %li#rites-of-passageTab
        .container
          .row
            .eight.columns
              :markdown
                If you are seeking a place to join together in wedding or union, to
                celebrate a birth, or remember the passing of a loved one, welcome!

                Whatever your situation, walk of life, religion, sexual
                orientation, or gender, we are honored to walk beside you in this
                meaningful journey and hope to assist you with this observance of
                life and love. People are often drawn to Unitarian Universalist
                congregations for rites of passage for a number of reasons. Perhaps
                you are not actively religious, but seek a more meaningful ceremony
                than a civil one. You may be searching for a service than
                recognizes and respects different religious traditions. You need
                not be a member of the Fellowship to request these services,
                although you may want to attend a service or otherwise familiarize
                yourself with our history and traditions.

                Our minister, Rev. Jeff Liebmann, will meet with you to design a
                ceremony unique to your wishes. He can share with you a wide range
                of options for your ceremony. Our Fellowship also welcomes leaders
                from other faiths to attend and assist with the ceremony. Rev.
                Liebmann can also answer your questions about building use fees and
                rules, as well as and the fees for his services either at the
                Fellowship or at a site of your choice.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/naming-ceremony.jpg" alt="Naming Ceremony")
      %li#social-activitiesTab
        .container
          .row
            .eight.columns
              :markdown
                We love to get together! Whether for an informal sharing food or
                for the big annual Serendipity Auction extravaganza, we enjoy
                coming together in fellowship at the Fellowship.

                The __Seekin’ Beacon Coffee House__ assembles on the first Saturday of
                each month from 7:00 to 9:00 p.m.. Come and enjoy entertainment,
                coffee, and conversation. Each month, the entertainment will be
                different – from music to poetry to all open microphone
                contributions.

                Players gather for __Game Night__ on the third Saturday of each month
                at 6:00 p.m. for a potluck dinner and card, board, and other games
                people bring to share. Everyone of any age is welcome to come and
                enjoy great food and fun games.

                Our __Screening the Sacred__ movie night takes place on the first
                Thursday of every month at 7:00 p.m. We watch and afterwards
                discuss obscure, forgotten, or overlooked cinema gems dealing with
                matters of faith, ethics, or spirituality.

                Our __Book Discussion Group__ meets on the First Wednesday of each
                month at 12:00 noon to discuss a wide range of books. Recent
                choices have included _The Incredible Story of Ephraim Nute:
                Scandal, Bloodshed and Unitarianism on the American Frontier_ by
                Bobbie Groth, and _From Zip Lines to Hosaphones: Dispatches from the
                Search for Truth and Meaning_ by Jane Ranney Rzepka.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/choir.jpg" alt="Choir")
