.row
  .twelve.columns
    :markdown
      # Learn With Us

      > The great end in religious instruction, whether in the Sunday-school or
      > family, is, not to stamp our minds irresistibly on the young, but to
      > stir up their own; not to make them see with our eyes, but to look
      > inquiringly and steadily with their own.

      _William Ellery Channing_
.row
  .three.columns
    %dl.tabs.nice.contained.mobile.vertical
      %dd= link_to "Children", "#children", class: "active"
      %dd= link_to "Teens", "#teens"
      %dd= link_to "Adults", "#adults"
  .nine.columns
    %ul.tabs-content.nice.contained.mobile
      %li#childrenTab.active
        .container
          .row
            .eight.columns
              :markdown
                For our children and youth’s religious education program, we envision
                a welcoming, safe, and exciting environment in which young people
                develop a rooted Unitarian Universalist identity and sense of
                community along with a personally meaningful, vibrant spirituality.

                Our mission is to engage children and youth in fun and meaningful
                activities that help them develop a positive religious identity, an
                ethical approach to life, a personal spirituality, skills to live in
                a world of religious diversity, and a sense of interconnectedness
                with all people and the entire universe.

                Our children learn:

                - about their rich Unitarian Universalist heritage and its traditions;
                - about people and groups of people who have devoted their lives to
                  noble causes;
                - that they are unique, precious individuals;
                - that it is okay to ask questions and to think for themselves;
                - compassion and respect for all people, regardless of race,
                  religion, sexual orientation, or culture;
                - skills for living in community with others;
                - that the natural world is full of marvel and mystery;
                - to think critically about religious ideas and ethical decisions;
                  and
                - to work for peace, social justice, and eco-justice in our world.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/kids.jpg" alt="")
      %li#teensTab
        .container
          .row
            .eight.columns
              :markdown
                Students in 7th-12th grades have opportunities to meet outside of
                Sunday morning for the purposes of building spiritual community,
                leadership development, outreach to the region, and involvement in
                the Heartland District of the Unitarian Universalist Association,
                including attending weekend youth conferences in the four-state area
                of the District (Indiana, Kentucky, Michigan, and Ohio). The Youth
                Group meets regularly with our minister, Rev. Jeff Liebmann, who has
                many years of experience in ministry with youth and is credentialed
                in Youth Spirituality through the Unitarian Universalist
                Association’s Office of Youth and Young Adults.

                The __Coming of Age__ program for seventh and eighth graders is a rite of
                passage that recognizes the transition out of childhood. We recognize
                that, while our youth are not yet adults, they have reached the stage
                of development where they are thinking and reasoning for themselves,
                and our part is to facilitate the continuing formation of their
                religious identity within a Unitarian Universalist framework. The
                program has four major areas of emphasis: Mentored Learning,
                Community Service, UU Identity, and Writing an Affirmation Statement.
                Highlights of the year are a field trip at the end of the school year
                (for which the group fundraises throughout the program), the Coming
                of Age Sunday service, and the ceremonial dinner the night before.

                The [Our Whole Lives](http://www.uua.org/re/owl/) curricula alternate years with Coming of Age and
                are based on a philosophy of comprehensive sexuality education
                designed to help youth make informed and responsible decisions about
                their sexual behavior. It equips them with accurate, age-appropriate
                information in six subject areas: human development, relationships,
                personal skills, sexual behavior, sexual health, and society and
                culture. Grounded in a holistic view of sexuality, the program helps
                youth clarify their values, build skills, and understand the
                physical, spiritual, emotional, social, and political aspects of
                sexuality. It promotes sexual and emotional health in our communities
                and fosters meaningful dialogue among peers, partners, families, and
                friends. The curricula’s approach speaks to the needs of today’s
                youth and helps prepare them for a meaningful tomorrow. The program
                is taught by specially trained facilitators. Parent orientation is
                included.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/float.jpg" alt="")
      %li#adultsTab
        .container
          .row
            .eight.columns
              :markdown
                We offer a wide range of adult enrichment opportunities during the
                week, from one-time information discussions, to multi-session classes
                on subjects of theology, ethics, and social justice, as well as basic
                introductions to Unitarian Universalism.

                __Sunday Forum__ meets some Sunday mornings from 9:15 to 10:15 a.m.
                This is a discussion group open to anyone on a drop-in basis. No
                sign-up is required. Topics range from social issues and advocacy
                efforts to self-help and health. The Sunday Forum may feature a local
                expert or work as an open discussion facilitated by a member
                interested in the particular subject.

                The __New UU Program__ offers a three-session introduction to
                Unitarian Universalism and to our Fellowship. The program is designed
                for new members, for those who may be thinking about becoming
                members, or those who are just interested in learning more about us.
                Often, becoming part of a church community is a slow, random affair,
                fraught with moments of loneliness and uncertainty. This program is
                designed to capitalize on the energy and excitement new members bring
                to our congregations and to reduce the moment of awkwardness new
                members may feel as they begin to become actively involved in church
                life.

                __Adult Enrichment__ may include traditional Unitarian
                Universalist curricula, such as _Our Chosen Faith_, or _Building Your
                Own Theology_. Classes may also include instruction on everything from
                Tai Chi to ethical eating.
            .four.columns
              %ul.polaroids
                %li
                  %a(href="#" title="")
                    %img(src="assets/adults.jpg" alt="")
