.row
  .twelve.columns
    :markdown
      # Serve With Us

      Unitarian Universalists work within congregations to live their
      principles of support, acceptance, and social responsibility. Unitarian
      Universalists also reach out to the larger community and the world to
      promote human rights and social justice.
.row
  .three.columns
    %dl.tabs.nice.contained.mobile.vertical
      %dd= link_to "Locally", "#locally", class: "active"
      %dd= link_to "Globally", "#globally"
  .nine.columns
    %ul.tabs-content.nice.contained.mobile
      %li#locallyTab.active
        :markdown
          The __Pastoral Care Team__ organizes practical help for
          members and friends who are in crisis. Team members are a presence
          for these needing emotional support. They share in moments of joy,
          celebration, and sorrow, and assist people in finding community
          resources. Pastoral Care members make visits to homes and
          hospitals, communicate joys and sorrows through the Fellowship
          newsletter, and provide confidential, nonjudgmental, empathetic
          listening and support.

          The __Social Justice Ministry Team__ provides a congregational forum
          for the address of social justice issues. The team identifies social
          justice issues, providing information on issues and initiating action
          within our congregation and the greater community.

          On May 20, 2001, after a year of study and discussion, our Fellowship
          passed a resolution to become a
          [Welcoming Congregation](http://www.uua.org/lgbt/welcoming/index.shtml),
          joining a nationwide Unitarian Universalist Association program to
          end discrimination against gay, lesbian, bisexual and transgender
          people. This means that we affirm and include people of all sexual
          orientations in our Fellowship. This affirmation of bisexual, gay,
          lesbian and transgender experience flows naturally from the Unitarian
          Universalist belief in the inherent worth and dignity of every
          person.

          In October 2004, the Fellowship acquired __Green Sanctuary__ status,
          demonstrating our dedication to living out the our Seventh Principle
          of “affirming and promoting respect for the interdependent web of all
          existence” through the celebration and protection of the environment.
          The [Green Sanctuary Program](http://www.uua.org/environment/sanctuary/index.shtml)
          provides a framework for congregational study and reflection, with
          the goals of:

          - building awareness of societal environmental issues;
          - generating commitment for personal lifestyle changes;
          - motivate us to community action on environmental issues;
          - building connections between spiritual practice and environmental consciousness; and
          - building awareness of and rectifying environmental injustices.
        %ul.polaroids
          %li
            %a(href="#" title="")
              %img(src="assets/occupy1.jpg" alt="")
          %li
            %a(href="#" title="")
              %img(src="assets/occupy2.jpg" alt="")
          %li
            %a(href="#" title="")
              %img(src="assets/occupy3.jpg" alt="")
      %li#globallyTab
        :markdown
          The Fellowship actively participates in the work of the
          [Unitarian Universalist Service Committee (UUSC)](http://www.uusc.org/shareuuscvideo),
          which advances human rights and social justice around the world,
          partnering with those who confront unjust power structures and
          mobilizing to challenge oppressive policies. The UUSC envisions a
          world free from oppression and injustice, where all can realize their
          full human rights.

          [Standing on the Side of Love](http://www.standingonthesideoflove.org/about/)
          is a public advocacy campaign that seeks to harness love’s power to
          stop oppression. It is sponsored by the Unitarian Universalist
          Association and actively supported by the Fellowship. The Standing on
          the Side of Love campaign elevates compassionate religious voices to
          influence public attitudes and public policy. Through community
          activism, social networking, and media outreach, people across the
          nation are equipped to counter fear and make love real in the world.

          As a member congregation of the Unitarian Universalist Association,
          we regularly engage in discussing Study Action Issues and creating
          Statements of Conscience, coordinated through the
          [Commission on Social Witness](http://www.uua.org/uuagovernance/committees/csw/index.shtml).
          Recent statements have addressed peacemaking, ethical eating, and
          immigration as a moral issue.
