.row
  .twelve.columns
    :markdown
      # Visit Us

      Unitarian Universalist congregations welcome everyone seeking truth
      and meaning in their lives.  We welcome everyone to visit and
      experience our community of love and belief.
    %ul.polaroids
      %li
        %a(href="#" title="")
          %img(src="assets/grounds1.jpg" alt="")
      %li
        %a(href="#" title="")
          %img(src="assets/grounds2.jpg" alt="")
      %li
        %a(href="#" title="")
          %img(src="assets/grounds3.jpg" alt="")
      %li
        %a(href="#" title="")
          %img(src="assets/grounds4.jpg" alt="")
.row
  .twelve.columns
    :markdown
      These are some frequently asked questions from people new to the
      Fellowship.

      **_What makes Unitarian Universalists different?_**
      
      Our openness. We don't claim to have answers to life's mysteries.
      Instead, our challenge is to discover life's meaning for ourselves. But
      none of us is alone in this task. We help each other in many ways,
      including sharing our discoveries and our questions. And we have fun at
      the same time!

      **_What do those who attend like about the Fellowship?_**
      
      Our members value our community and the free sharing of ideas and
      feelings. This is a place of comfort for people whose spirituality
      doesn't always fit within the confines of traditional religion, or within
      any religion. We are gentle with each other, and respect each others'
      ways.

      **_What is the religious background of your attendees?_**
      
      Our Fellowship is a haven for people of many religious backgrounds and
      beliefs. Some of our members were raised in another faith, but found they
      couldn't accept the beliefs they were expected to adopt. Other members
      are not religious in the conventional sense; some do not believe in
      conventional notions of god. However, we are all interested in meaning,
      in morality, in the larger questions of life. Here, we can talk about
      deep issues without fear of censure.

      **_What can I expect to experience in a typical service?_**
      
      We sing, share readings, meditate, and pray. Our sermons cover a wide
      range of topics and styles. On a given Sunday morning, you may hear about
      history or the environment, Buddhism or humanist philosophy, the Bible,
      or a recent news event. Sermons will inform and inspire, evoke emotion,
      and comfort you from the challenges of everyday struggles.

      **_Is everyone really welcome?_**
      
      Absolutely. One of our central beliefs is respect for everyone. Whether
      black or white, gay or straight, Christian or atheist...it doesn't
      matter. The only people who find it difficult to fit in are those who are
      certain that their way is the only right way, and demand that others
      follow suit.

      **_When are services?_**
      
      From 10:30 to 11:30 a.m. on Sunday. We have coffee and light refreshments
      afterward, so plan on staying a little later to get to know us.

      **_Where are services?_**
      
      [6220 Jefferson Ave, Midland, MI 48640-2934](http://maps.google.com/maps/place?q=uufom+midland&hl=en&cid=1658144316834856307)

      **_Is there a dress code?_**
      
      Dress is casual. Jeans and a casual shirt are fine. Some people dress
      more formally, so you can too, if you like.

      **_Can I bring my children?_**
      
      Of course! We would love to meet them!

      **_Will there be a "hard sell?"_**
      
      Not at all. Our way of thinking is about free choice. The right of
      personal conscience is one of our basic principles.

      **_Should I put money in the collection basket?_**
      
      That's up to you. You can add a few dollars if you want, or nothing at
      all. First-time visitors are encouraged to be our guest.
