.container.footer
  .row
    .twelve.columns
      %img(src="assets/logo.png")
  .row
    .twelve.columns
      %a(href="http://www.uua.org/lgbt/welcoming/index.shtml")
        %img(src="assets/welcoming_congregation.jpg")
      %a(href="http://www.uua.org/environment/sanctuary/index.shtml")
        %img(src="assets/green_sanctuary.png")
      %img(src="assets/listen.png")
      %a(href="http://www.standingonthesideoflove.org/")
        %img(src="assets/standing.png")
      %a(href="http://www.uusc.org/")
        %img(src="assets/uusc.png")
      %a(href="http://www.facebook.com/UUFoM")
        %img(src="assets/facebook.jpg")
      %a(href="http://github.com/uufom/uufom")
        %img(src="assets/github.png")
  .row
    .twelve.columns
      :markdown
        &copy; 2012 Unitarian Universalist Fellowship of Midland
