.container.shadowed
  .row.header
    .seven.columns.left-justified
      %h1 Unitarian Universalist Fellowship of Midland
      :markdown
        _A liberal religious haven that cherishes the exploring mind and
        welcomes all souls._
    .five.columns.right-justified
      :markdown
        6220 Jefferson Ave, Midland, MI 48640-2934  
        (989) 631-1162  
        [uufom@uufom.org](mailto:uufom@uufom.org)
  .row.navigation
    #main-cell.two.columns.active
      %a#main(href="#") Home
    #who-we-are-cell.two.columns
      %a#who-we-are(href="#") Who We Are
    #gather-with-us-cell.two.columns
      %a#gather-with-us(href="#") Gather With Us
    #learn-with-us-cell.two.columns
      %a#learn-with-us(href="#") Learn With Us
    #serve-with-us-cell.two.columns
      %a#serve-with-us(href="#") Serve With Us
    #visit-us-cell.two.columns
      %a#visit-us(href="#") Visit Us
